/* removes the blue/purple underlines from links */
a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;

}


/* margin: 0 centers things */
html {
	font-family: "DM Sans","San Francisco", "Helvetica Neue", Helvetica, sans-serif;
	color: #f1f0f0;
	font-size: 1.25vw;
}



/* animation for the welcome title and stuff*/
header {
	text-align: center;
	margin: 0;
	filter: drop-shadow(0 0 5px white);

	font-size: 1.5625em;

	font-family: "Montserrat";
	animation-duration: 4s;
	animation-name: dropin;

	position: relative;
	bottom: calc(-35vh + 50px);
}



#theCanvas {
	/* position: absolute; */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
}



@keyframes dropin {
	0% { opacity: 0.01; }
	25% { opacity: 0.01; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}

/* ------------------------------------------------------------------------------------------ */

/* animation for the stylish line below the title */
#blueline {
	height: 3px;
	margin: 0 auto;
	width: 80%;
	margin-bottom: 20px;


	position: relative;
	bottom: calc(-35vh + 40px);
	/* background-image: linear-gradient(90deg,blue,lightblue,blue); */

	background-image: linear-gradient(90deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

	animation-duration: 2.5s;
	animation-name: grow;
}
@keyframes grow {
	0% { opacity: 0.01; width: 0%; }
	35% { opacity: 0.01; width: 0%;}
	100% { opacity: 1; width: 80%; }
}


/* ------------------------------------------------------------------------------------------ */
/* generalized cross */
body {
	/* display: flex; */
	min-height: 100vh;
	flex-direction: column;
	margin: 0px;
}
.wrapper{
	margin: 0 auto;
	flex: 1 0 auto;
	text-align: center;
	z-index: 1;
}

.full-viewport-height {
	height: 100vh;
	margin: 0 auto;
	padding: 0;

}

/* ------------------------------------------------------------------------------------------ */

/* formatting related css */
p, h1 {
	margin: 0;
}

#firstbg {
	background: black;
}
#secondbg {
	/* background: rgba(233,233,233,255); */
	/* background: linear-gradient(to bottom, rgba(233,233,233,1) 53%, rgba(33,33,33,1) 47%); */
	background: rgba(233,233,233,1);
	color: black;
	max-height: 53vh;
}
#secondbg_skills{
	/* background: rgba(33,33,33,1); */
	background: repeating-linear-gradient(to right,
		rgba(55, 55, 55, 1),
		rgba(55, 55, 55, 1) 20%,
		rgba(45, 45, 45, 1) 20%,
		rgba(45, 45, 45, 1) 40%,
		rgba(55, 55, 55, 1) 40%,
		rgba(55, 55, 55, 1) 60%,
		rgba(45, 45, 45, 1) 60%,
		rgba(45, 45, 45, 1) 80%,
		rgba(55, 55, 55, 1) 80%,
		rgba(55, 55, 55, 1) 100%
	 );
	max-height: 47vh;
}
#thirdbg {
	/* background: rgba(59,65,73,1); */
	background: linear-gradient(to right, white 50%, rgba(233,233,233,1) 50%);
}

/* homepage section */
#homepage {
	position: relative;
	bottom: calc(-30vh);
	background: radial-gradient(circle at center, rgba(0,0,0,0.6) 30%, rgba(0,0,0,0.05) 15%);
	margin-left: 10%;
	margin-right: 10%;
}

/* about me section */
#about {
	line-height: 190%;
}

/* ------------------------------------------------------------------------------------------ */

/* animation for the intro*/
.intro {
	animation-name: fadein1;
	animation-duration: 3.5s;
}

@keyframes fadein1 {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% { opacity: 1; }
}

/* ------------------------------------------------------------------------------------------ */

/* skills section */

.skill_list {
    display: flex;
    justify-content: space-between; /* Distributes space evenly between the items */
	 top: 3vh;
	 position: relative;
    /* width: 80%; /* Adjust this width to control spacing */ */
}

.skill1, .skill2, .skill3, .skill4, .skill5 {
    flex: 1; /* Allows items to grow evenly */
    text-align: center; /* Centers text within each item */
	 position: relative;
	 top: 3vh;

	 align-items: center;
    color: white;
    /* margin: 0 5px; /* Optional: Add some margin between items */ */
    border-radius: 5px;
	 font-size: 1.65em;
	 max-width: 20vw;
}

.icon-container {
	place-items: center;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2, 65px); /* Adjust size as needed */
	grid-template-rows: repeat(2, 65px);    /* Adjust size as needed */
	margin-top: 4vh;
	gap: 0.5vw;
}

.software-icon-container {
	place-items: center;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2, 65px); /* Adjust size as needed */
	margin-top: 4vh;
	gap: 0.5vw;
}


/* ------------------------------------------------------------------------------------------ */

/* the skills typewriter animation */

#skill_typewriter {
	position: relative;
	margin-top: 4vh;
	/* margin-left: 2vw; */
	/* text-align: left; */
	font-family: "Source Code Pro", monospace;
	font-size: 0.8em;
	/
	/* bottom: calc(-35vh + 50px); */
}

.skill_text_1 { animation: skill_text1; }
.skill_text_2 { animation: skill_text2; }
.skill_text_3 { animation: skill_text3; }
.skill_text_4 { animation: skill_text4; }
.skill_text_5 { animation: skill_text5; }

.skill_text_1, .skill_text_2, .skill_text_3, .skill_text_4, .skill_text_5 {
	overflow: hidden;
	white-space: nowrap;
	display: inline-flex;

	animation-duration: 13s;
	animation-timing-function: steps(10, end);
	animation-iteration-count: infinite;
}

.skill_text_1::after, .skill_text_2::after, .skill_text_3::after, .skill_text_4::after, .skill_text_5::after{
	content: " _";

	animation: caret infinite;
	animation-duration: 1.5s;
	animation-timing-function: steps(1);
}

/* width has to be set high since safari doesnt support the font size */
@keyframes skill_text1 {
	0%, 20%, 40%, 60%, 80%, 100% {width: 0;}
	5%, 15% {width: 4.5em;}
}
@keyframes skill_text2 {
	0%, 20%, 40%, 60%, 80%, 100% {width: 0;}
	25%, 35% {width: 2.3em;}
}
@keyframes skill_text3 {
	0%, 20%, 40%, 60%, 80%, 100% {width: 0;}
	45%, 55% {width: 4.5em;}
}
@keyframes skill_text4 {
	0%, 20%, 40%, 60%, 80%, 100% {width: 0;}
	65%, 75% {width: 2.5em;}
}
@keyframes skill_text5 {
	0%, 20%, 40%, 60%, 80%, 100% {width: 0;}
	85%, 95% {width: 7em;}
}
@keyframes caret {
	0%, 50% {opacity: 0;}
	25%, 75%, 100% {opacity: 1;}
}


/* ------------------------------------------------------------------------------------------ */

/* about me, experience, and project text*/

.container {
	position: relative;
	top: 1.5vh;
	display: flex; /* Use Flexbox to align children side by side */
	gap: 1vw; /* Space between the divs */
	padding: 20px; /* Optional padding for the container */
}

.about_info {
	flex: 1; /* Ensures that both divs take up equal space */
	/* padding: 10px; */
	margin: 0.1em;
	background: radial-gradient(circle, rgba(233,233,233,1) 5%, rgba(233,233,233,0.75) 85%);
	text-align: left;
	line-height: 1.5;

}
.more_info_left {
	flex: 1; /* Ensures that both divs take up equal space */
	padding: 20px;
	/* background: rgba(233,233,233,0.65); */
	background: radial-gradient(circle, rgba(255,255,255,1) 55%, rgba(255,255,255,0.7) 80%);
	text-align: left;
	line-height: 1.5;
	color: black;
}
.more_info_right {
	flex: 1; /* Ensures that both divs take up equal space */
	padding: 20px;
	background: radial-gradient(circle, rgba(233,233,233,1) 55%, rgba(233,233,233,0.7) 80%);
	color: black;
	text-align: left;
	line-height: 1.5;

}

/* ------------------------------------------------------------------------------------------ */
.vertical-scroll {
	/* border:1px solid black; */
	max-height: 75vh;
	overflow-y: scroll;
}

/* ------------------------------------------------------------------------------------------ */

/* experiences section */

/* container for description and image */
.experience {
    display: flex;              /* Use Flexbox layout */

    align-items: center;        /* Vertically center items */
    padding: 5px;              /* Add some padding around the container */
	 margin-bottom: 10vh;
}
.experience a {
	display: block;
	width: 50%;
}

/* styling for description */
.description {
	display: flex;
	margin-left: 2vw;         /* Space between description and image */
	margin-right: 2vw;
	transition: color 3s ease-in-out;
	align-items: center;
}

/* styling for image */
.image {
	 position: relative;
    max-width: 100%;            /* Ensure the image scales down if needed */
    height: auto;               /* Maintain aspect ratio of the image */
	 flex: 1 1 0px;
}



/* ------------------------------------------------------------------------------------------ */
/* projects section */

.project {
    display: flex;              /* Use Flexbox layout */
    align-items: center;        /* Vertically center items */
    padding: 5px;              /* Add some padding around the container */
	 margin-bottom: 5vh;
}

.project img {
	position: relative;
	max-width: 100%;            /* Ensure the image scales down if needed */
	height: auto;
}


/* ------------------------------------------------------------------------------------------ */

/* project hover */
.proj-container {
	margin-left: 3vw;
	margin-right: 3vw;
}

.proj-old, .proj-new {
   transition: opacity 0.4s linear;
	display: flex;
	align-items: center;
   height: 20px;
	max-width: 350px;
}
.proj-old {
   position: relative;
   top: -10px;
	text-align: left;
	margin: 0 auto;
	font-size: 1.1em;

}
.proj-new {
   position: relative;
   top: 10px;
   opacity: 0;
   z-index: 1;
	font-size: 0.75em;
	width: 110%;

}
.proj-container:hover .proj-old{
	opacity: 0;
}
.proj-container:hover .proj-new{
	opacity: 1;
	filter: drop-shadow(0 0 3px white);
}


/* ------------------------------------------------------------------------------------------ */

/* experience hover */

.exp-container {
	margin-left: 3vw;
}

.exp-old, .exp-new {
   transition: opacity 0.4s linear;
	display: flex;
	align-items: center;
   height: 20px;
	max-width: 375px;
}
.exp-old {
   position: relative;
   top: 0px;
	text-align: left;
	margin: 0 auto;

}
.exp-new {
	position: relative;
   top: 35px;
   opacity: 0;
   z-index: 1;
	font-size: 0.75em;
	/* width: 80%; */
}
.exp-container:hover .exp-old{
	opacity: 0;
}
.exp-container:hover .exp-new{
	opacity: 1;
	filter: drop-shadow(0 0 3px white);
}



/* ------------------------------------------------------------------------------------------ */

/* the typewriter animation */

#typewriter {
	/* display: inline-block; */
	position: relative;
	font-weight: normal;
	font-family: "Source Code Pro", monospace;
	font-size: 1.7em;
	bottom: calc(-35vh + 50px);
}

.text_1 { animation: text1; }
.text_2 { animation: text2; }
.text_3 { animation: text3; }
.text_4 { animation: text4; }
.text_5 { animation: text5; }

.text_1, .text_2, .text_3, .text_4, .text_5 {
	overflow: hidden;
	white-space: nowrap;
	display: inline-flex;
	/* position: relative; */

	animation-duration: 18s;
	animation-timing-function: steps(15, end);
	animation-iteration-count: infinite;
}

.text_1::after, .text_2::after, .text_3::after, .text_4::after, .text_5::after{
	content: " _";
	/* position: absolute;
	right: 0; */

	animation: caret infinite;
	animation-duration: 2s;
	animation-timing-function: steps(1);
}

/* width has to be set high since safari doesnt support the font size */
@keyframes text1 {
	0%, 20%, 40%, 60%, 80%, 100% {width: 0;}
	5%, 15% {width: 10em;}
}
@keyframes text2 {
	0%, 20%, 40%, 60%, 80%, 100% {width: 0;}
	25%, 35% {width: 14em;}
}
@keyframes text3 {
	0%, 20%, 40%, 60%, 80%, 100% {width: 0;}
	45%, 55% {width: 8.6em;}
}
@keyframes text4 {
	0%, 20%, 40%, 60%, 80%, 100% {width: 0;}
	65%, 75% {width: 0em;}
}
@keyframes text5 {
	0%, 20%, 40%, 60%, 80%, 100% {width: 0;}
	85%, 95% {width: 13em;}
}
@keyframes caret {
	0%, 50% {opacity: 0;}
	25%, 75%, 100% {opacity: 1;}
}

/* ------------------------------------------------------------------------------------------ */

/* the rainbow/shadow effect */
/* nice to have but largely unused */
.shadow {
	font-size: 2vw;
	/* this is the rainbow */
	/* text-shadow: 1px 1px 0px #eb452b,
					 2px 2px 0px #efa032,
					 3px 3px 0px #46b59b,
					 4px 4px 0px #017e7f,
					 5px 5px 0px #052939; */
	/* this is the black shadow */
	text-shadow: 1px 1px 0px #000000,
					 2px 2px 0px #000000,
					 3px 3px 0px #000000,
					 4px 4px 0px #000000,
					 5px 5px 0px #000000;
}

/* ------------------------------------------------------------------------------------------ */

/* honestly dont understand the footer css here */
footer {
	position: fixed;
	left: 50%;
	transform:translateX(-50%);
	bottom: 0;
	text-align: center;
	font-family: "Montserrat";
	/* font-family: "Anonymous Pro", monospace; */
	/* font-weight: bold; */

	flex-shrink: 0;
	min-width: 350px;

	/* change the footer background to stay contrasted in all background colors */
	mix-blend-mode: difference;
}


/* linkedin circle transitions */
#linkedin-circle {
	 position: relative;
	 margin:0;
	 top: 8px;
	 width: 30px;
	 fill: white;

	 transition: 0.5s all ease;

	 /* width transition is commented out since it kept moving the footer down */
	 /* transition: width 0.3s; */
}
#linkedin-circle:hover {
	fill: #2596be !important;
}

/* ------------------------------------------------------------------------------------------ */

/* all of this below is just for the "contact" */
.wrap {
	margin: 0 auto;
	max-width: 300px;
}

.old, .new {
   transition: opacity 0.4s linear;
   font-size: 20px;
   height: 20px;
}
.old {
   position: relative;
   top: -10px;
	text-align: center;
	margin: 0 auto;

}
.new {
   position: relative;
   top: 10px;
   opacity: 0;
   z-index: 1;

}
.wrap:hover .old{
	opacity: 0;
}
.wrap:hover .new{
	opacity: 1;
	/* font-weight: bold; */
	filter: drop-shadow(0 0 3px white);
	color: white;
}

/* ------------------------------------------------------------------------------------------ */

/* makes the background always the size of the viewport */
.full-viewport-height {
	height: 70em;
	height: 100vh;

}
/* ------------------------------------------------------------------------------------------ */

/* decorative underline css */
.short-underline {
    position: relative; /* Required for positioning pseudo-element */
    display: inline-block; /* Required to ensure the width of the element adjusts to the content */
    font-size: 2.5em; /* Adjust the font size as needed */
	 z-index: 2;
}

.short-underline::before {
    content: ''; /* No text content, just a line */
    position: absolute; /* Position relative to the parent element */
    bottom: -0.5vh; /* Align to the bottom of the parent element */
    width: 2ch; /* Width of the underline (2 characters wide) */
    height: 4px; /* Height of the underline */
    background-color: black; /* Color of the underline */
	 z-index: 2;
}

#white-underline {
    position: relative; /* Required for positioning pseudo-element */
    display: inline-block; /* Required to ensure the width of the element adjusts to the content */
    font-size: 2.5em; /* Adjust the font size as needed */
	 z-index: 2;
}

#white-underline::before {
    content: ''; /* No text content, just a line */
    position: absolute; /* Position relative to the parent element */
    bottom: -0.5vh; /* Align to the bottom of the parent element */
    width: 2ch; /* Width of the underline (2 characters wide) */
    height: 4px; /* Height of the underline */
    background-color: white; /* Color of the underline */
	 z-index: 2;
}
