/* removes the blue/purple underlines from links */
a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;

}


/* margin: 0 centers things */
html {
	font-family: "DM Sans","San Francisco", "Helvetica Neue", Helvetica, sans-serif;
	color: #f1f0f0;
	font-size: 1.2em;
}



/* animation for the welcome title and stuff*/
header {
	text-align: center;
	margin: 0;
	filter: drop-shadow(0 0 5px white);

	font-size: 1.5625em;
	/* color: #f1f0f0; */

	font-family: "Montserrat";
	animation-duration: 4s;
	animation-name: dropin;

	position: relative;
	bottom: calc(-35vh + 50px);
}



#theCanvas {
	/* position: absolute; */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
}



@keyframes dropin {
	0% { opacity: 0.01; }
	25% { opacity: 0.01; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}


/* animation for the stylish line below the title */
#blueline {
	height: 3px;
	margin: 0 auto;
	width: 80%;
	margin-bottom: 20px;


	position: relative;
	bottom: calc(-35vh + 40px);
	/* background-image: linear-gradient(90deg,blue,lightblue,blue); */

	background-image: linear-gradient(90deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

	animation-duration: 2.5s;
	animation-name: grow;
}
@keyframes grow {
	0% { opacity: 0.01; width: 0%; }
	35% { opacity: 0.01; width: 0%;}
	100% { opacity: 1; width: 80%; }
}


/* the flexbox footer */
body {
	/* display: flex; */
	min-height: 100vh;
	flex-direction: column;
	margin: 0px;
}
.wrapper{
	margin: 0 auto;
	flex: 1 0 auto;
	text-align: center;
	z-index: 1;
}

.full-viewport-height {
	height: 100vh;
	margin: 0 auto;
	padding: 0;

}


/* formatting related css */
p, h1 {
	margin: 0;
}

#firstbg {
	background: black;
}
#secondbg {
	background: rgba(233,233,233,255);
	color: black;
}
#thirdbg {
	background: rgba(97,171,255,1);
}



/* homepage section */
#homepage {
	position: relative;
	bottom: calc(-30vh);
	margin-left: 10%;
	margin-right: 10%;
}

/* about me section */
#about {
	position: relative;
	line-height: 190%;
	margin-left: 25%;
	margin-right: 25%;

}


/* animation for the intro paragraphs */
.intro {
	animation-name: fadein1;
	animation-duration: 3.5s;
}

@keyframes fadein1 {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% { opacity: 1; }
}


/* about me text */

.container {
	position: relative;
	top: 15vh;
	display: flex; /* Use Flexbox to align children side by side */
	gap: 2vw; /* Space between the divs */
	padding: 20px; /* Optional padding for the container */
}
.info {
	flex: 1; /* Ensures that both divs take up equal space */
	padding: 20px;
	text-align: center;
	background: rgba(233,233,233,0.65);
	text-align: left;
	line-height: 1.5;
}



/* the typewriter animation */

#typewriter {
	/* display: inline-block; */

	position: relative;
	font-weight: normal;
	bottom: calc(-35vh + 50px);
}

.text_1 { animation: text1; }
.text_2 { animation: text2; }
.text_3 { animation: text3; }
.text_4 { animation: text4; }
.text_5 { animation: text5; }

.text_1, .text_2, .text_3, .text_4, .text_5 {
	overflow: hidden;
	white-space: nowrap;
	display: inline-flex;
	/* position: relative; */

	animation-duration: 18s;
	animation-timing-function: steps(15, end);
	animation-iteration-count: infinite;
}

.text_1::after, .text_2::after, .text_3::after, .text_4::after, .text_5::after{
	content: " _";
	/* position: absolute;
	right: 0; */

	animation: caret infinite;
	animation-duration: 2s;
	animation-timing-function: steps(1);
}

/* width has to be set high since safari doesnt support the font size */
@keyframes text1 {
	0%, 20%, 40%, 60%, 80%, 100% {width: 0;}
	5%, 15% {width: 7em;}
}
@keyframes text2 {
	0%, 20%, 40%, 60%, 80%, 100% {width: 0;}
	25%, 35% {width: 10em;}
}
@keyframes text3 {
	0%, 20%, 40%, 60%, 80%, 100% {width: 0;}
	45%, 55% {width: 8em;}
}
@keyframes text4 {
	0%, 20%, 40%, 60%, 80%, 100% {width: 0;}
	65%, 75% {width: 0em;}
}
@keyframes text5 {
	0%, 20%, 40%, 60%, 80%, 100% {width: 0;}
	85%, 95% {width: 10.5em;}
}
@keyframes caret {
	0%, 50% {opacity: 0;}
	25%, 75%, 100% {opacity: 1;}
}


/* the rainbow effect */
/* nice to have but largely unused */
.shadow {
	font-size: 2vw;
	text-shadow: 1px 1px 0px #eb452b,
					 2px 2px 0px #efa032,
					 3px 3px 0px #46b59b,
					 4px 4px 0px #017e7f,
					 5px 5px 0px #052939;
}

/* honestly dont understand the footer css here */
footer {
	position: fixed;
	left: 50%;
	transform:translateX(-50%);
	bottom: 0;
	text-align: center;
	font-family: "Montserrat";
	/* font-family: "Anonymous Pro", monospace; */
	/* font-weight: bold; */

	flex-shrink: 0;
	min-width: 350px;

	/* change the footer background to stay contrasted in all background colors */
	mix-blend-mode: difference;
}


/* linkedin circle transitions */
#linkedin-circle {
	 position: relative;
	 margin:0;
	 top: 8px;
	 width: 30px;
	 fill: white;

	 transition: 0.5s all ease;

	 /* width transition is commented out since it kept moving the footer down */
	 /* transition: width 0.3s; */
}
#linkedin-circle:hover {
	/* width: 27px; */
	fill: #2596be !important;
}


/* all of this below is just for the "contact" */
.wrap {
	margin: 0 auto;
	max-width: 300px;
}

.old, .new {
   transition: opacity 0.4s linear;
   font-size: 20px;
   height: 20px;
}
.old {
   position: relative;
   top: -10px;
	text-align: center;
	margin: 0 auto;

}
.new {
   position: relative;
   top: 10px;
   opacity: 0;
   z-index: 1;

}
.wrap:hover .old{
	opacity: 0;
}
.wrap:hover .new{
	opacity: 1;
	/* font-weight: bold; */
	filter: drop-shadow(0 0 3px white);
	color: white;
}


/* makes the background always the size of the viewport */
.full-viewport-height {
	height: 70em;
	height: 100vh;

}
